body {
  margin: 200;
  padding: 200;
  margin-left: auto;
  margin-right: auto;
}

#titles {
  position: relative;
  overflow: hidden;
  margin: 10200;
  padding: 10;
  width: 1200px;
  height: 1000px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

#titles div {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}

#titles div.title {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

#titles div.subtitle {
  font-size: 17px;
  font-weight: normal;
  color: #000000;
  x-text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
  font-variant: small-caps;
  letter-spacing: 1px;
  border-top: 1px solid #333333;
  padding: 3px;
  text-align: center;
}
